input{
  font-size: 20px;
  padding: 5px;
}
button{
  padding: 5px;
  font-size: 20px;
  background-color: green;
  cursor: pointer;
  border: none;
}
.btn-color{
  background-color: red;
  color: white;
}